/* TODO add prefixes for -moz, -o and -ie*/
@media screen and (min-width:961px) {

  .slider {
    position:relative;
    overflow:hidden;
  }

  #cx-hero .slides-3 {
    height:420px;
  }

  .slider .slide {
    position:absolute;
    left:0;
    top:0;
    width:100%;
    box-sizing:border-box;
  }

  .slider:hover .slides-3 {
    -webkit-animation-play-state:paused;
  }

  .slider:hover::after {
    content:"";
    position:absolute;
    top:8px;
    right:8px;
    border-radius:6px;
    background:url(/img/glyph/32-inv/pause.png) center center no-repeat rgba(0,0,0,.25);
    width:32px;
    height:32px
  }

  .slider .slide:nth-of-type(1) {
    left:0;
  }

  .slider .slide:nth-of-type(2) {
    left:100%;
  }

  .slider .slide:nth-of-type(3) {
    left:200%;
  }

  .slider .slides-3 {
    position:relative;
    -webkit-animation: slides-3 36s ease-in infinite;
  }

  @-webkit-keyframes slides-3 {
    0% {left:0;}
    31% {left:0;}
    33% {left:-100%;}
    64% {left:-100%;}
    66% {left:-200%;}
    98% {left:-200%;}
  }

}